//COLORS
//For background transparencies
$background-color-blue: linear-gradient(291.34deg, #080d21 0%, #081131 100%);
$background-color-dark-blue: #081131;
$background-color-midnight-blue: #0f1a47;

//Without the background transparencies
$background-dark-blue: #0a153d;
$background-blue: #0b1845;
$background-blue-active: #0c163b;
$background-blue-sidebar-streams: #0a143c;

$vibrant-blue: #0083ff;
$darker-vibrant-blue: #004f99;
$bright-blue: #40a2ff;
$light-blue: #bfe0ff;
$dark-blue: #002c55;

$border-blue: #212946;

$font-light-grey: #e6e7ea;
$font-dark-grey: #6b7083;
$font-grey: #b5b8c1;
$font-almost-grey: #bdbdbd;
$font-light-grey-hover: #cecfd6;
$font-grey-hover: #9ca0ad;

$font-grey-blue: #52586f;

$font-light-blue: #80c1ff;
$font-dark-blue: #39415a;
$font-dark-icon: #121520;

$white: #ffffff;
$white-transparent-24: rgba(255, 255, 255, 0.24);
$white-transparent-54: rgba(255, 255, 255, 0.54);
$white-transparent-34: rgba(255, 255, 255, 0.34);

$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.1);

$grey: #808080;
$almost-grey: #848898;

$bright-green: #50e29c;
$background-bright-green: rgba(80, 226, 156, 0.15);

$bright-red: #ff4747;
$background-bright-red: rgba(255, 71, 71, 0.15);
