.lst-side-nav {
    width: $side-nav-width-closed;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $nord0;
    color: $white;
    transition: width $normal-transition-time;

    &__options {
        background: $black-dark-3;
        margin-bottom: 0;
        padding: 5px;
        color: $dark-white;
        // font-weight: 300;
        font-size: 1em;

        .app-version-number {
            font-size: 12px;
        }

        a,
        button,
        button:hover {
            margin: 0.5rem 0;
            text-decoration: none;
            display: flex;
            color: $dark-white;
        }

        button,
        button:hover {
            i {
                font-size: 17px !important;
                padding-right: 0;
                top: -1px !important;
            }
        }

        i {
            padding: 2px 11px;
            font-size: 16px;
        }
    }

    &__is-open {
        width: $side-nav-width-open;
    }

    .lst-side-nav-header {
        display: flex;
        align-items: center;
        justify-content: center;

        height: $top-nav-height;

        img {
            max-width: 90%;
            max-height: 90%;
        }
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    li {
        white-space: nowrap;

        a {
            color: #babbbc;
            text-decoration: none;
            display: flex;
            flex: 1;
            align-items: center;
            padding: 12px;
            transition: background $normal-transition-time, box-shadow $normal-transition-time;

            &.active {
                color: $white;
                background-color: $black-dark-3;
                box-shadow: inset 2px 0 0px 0px $blue;
            }
        }
    }

    .lst-side-nav__item {
        &-icon {
            display: flex;
            margin-right: 8px;
        }

        &-text {
            display: flex;
            opacity: 0;
            font-weight: 400;
            transition: opacity $fast-transition-time;
        }
    }

    .lst-side-nav__items {
        flex: 1;
        margin-bottom: 60px;
    }
}

.lst-side-nav__is-open .lst-side-nav__item-text {
    opacity: 1;
}
