.lst-stream-info-item {
    margin: 5px 0;

    strong {
        margin-right: 5px;
    }
}

.lst-stream-timeline-image {
    padding: 0;

    img {
        width: 100%;
    }

    &.selected {
        border-bottom: 4px solid $blue;
    }
}
.explorer-sketch {
    height: 21rem;
}

.lst-stream-packet {
    background: $grey-dark;
    color: $white;
    padding: 3px;
    font-weight: 600;
    border-radius: 5px;
    margin: 2px;
    font-size: 9px;
    width: 20px;
    cursor: pointer;
}

.lst-timeline-bar {
    padding: 2px;
    background: $grey;

    .lst-timeline-progress {
        height: 4px;
        background-color: $blue;
        transition: $fast-transition-time width;
    }
}