@import 'login';
@import 'pcaps-page';
@import '_side-nav';
@import '_home-nav';
@import 'stream';

/* TODO: Remove this code from _index.scss and move it to sdp-config */
.lst-sdp-config {
  height: calc(100% - 45px);
}

.lst-round {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 0 10px;
}

.lst-line-through {
    text-decoration: line-through;
}
