.lst-top-nav {
    height: $top-nav-height;
    background: $white-blank;

    .dark & {
        background-color: $nord0;
        color: $white;
    }

    @include flex;
    @include flex-center-vertical;

    .lst-top-nav__link {
        @include flex;
        @include flex-center-vertical;
        @include flex-center-horizontal;
        background: none;
        border: none;
        margin-left: 0.5rem;
        color: $black-light-20;
        cursor: pointer;

        .dark & {
            color: $white;
        }
    }

    .lst-header-title {
        font-size: 1rem;
        color: $yellow;
        margin-right: 10px;

        .dark & {
            color: $white;
        }

        .lst-icons {
            margin: 0 $margin / 2;
        }
    }

    .lst-header-item {
        font-size: 1rem;
        color: $yellow;
    }

    .lst-header-button {
        margin-right: 10px;
    }
}
