@import '../../../../style/variables/colors.scss';

.dashboard-page-container {
    background: $background-color-blue;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // flex-wrap: wrap;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, clamp(300px, 50%, 260px));
    margin-bottom: auto;
    justify-content: center;
}

.dashboard-page-tile {
    padding: 7.75px;
}

.dashboard-details-table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-table-container {
    width: 100%;
    padding: 0px 30px 50px 30px;
}

.dashboard-page-container-drag-and-drop-tile {
    display: flex;
    padding: 7.75px;
}

//DashboardContent
.dashboard-views-icons {
    width: 100px;
}

.dashboard-views-icons-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 0.5em;
}

button.dashboard-view {
    background: none;
    border: none;
    cursor: pointer;
}

.main-page-header {
    background: $background-color-blue;
    grid-column: 1 / 4;

    .header {
        padding: 1em 3em;
        justify-content: space-between;

        .header-title {
            padding: 0;
        }

        .header-subtitle {
            color: #757575;
            font-size: 0.75em;
            margin-bottom: 1em;
        }
    }
}

.main-page-dashboard {
    overflow-y: auto;
    height: 85vh;
}

.currently-selected-pcaps {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.dashboard-search-bar-container {
    padding-left: 3em;
}

.details-table-search-bar-container {
    padding-left: 1.1em;
}

.alert-version-icon {
    width: 1.5em;
    margin-right: 0.7em;
}
.text-warning {
    color: red;
}

.alert-version-container {
    display: flex;
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #52586f;
    padding-bottom: 0.7em;
}

.text-warning-description {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #40a2ff;
}
