.full-height {
    height: 100%;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.lst-app-container {
    @include flex;
    min-height: 100%;
}

.lst-main-container {
    height: calc(100% - #{$main-container-height});
    padding: $margin;
}

.lst-main {
    flex: 1;
    width: 100%;
    background: $background-color-blue;
    .dark & {
        background: $nord1;
    }
}

.lst-async-loader--loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lst-error-page {
    height: 100%;
    align-items: center;
    &__icon i {
        font-size: 7rem;
    }
    .lst-error-page-heading {
        font-weight: 400;
    }
}

#lst-landing-page-loader {
    position: relative;
    top: 42vh;
}

.inactive {
    background-color: $grey !important;
    border: 1px solid $grey-hover !important;
    .dark & {
        background-color: $nord0 !important;
        border: 1px solid $nord0 !important;
    }
}
