@mixin border-solid($border-width, $border-color) {
  border: 1px solid $border-color;
  border-width: $border-width + 0px;
  transform: scaleY($border-width);
}

@mixin flex {
  display: flex;
}

@mixin flex-center-vertical {
  align-items: center;
}

@mixin flex-center-horizontal {
  justify-content: center;
}

.lst-text-center {
  text-align: center;
}

.lst-text-right {
  text-align: right;
}

.lst-text-left {
  text-align: left;
}

.lst-text-vertical-align {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: stretch;
}

.lst-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lst-no-margin {
  margin: 0 !important;
}

.lst-no-padding {
  padding: 0 !important;
}

.lst-padding-right-30 {
  padding-right: 30px;
}

.lst-padding--right-10 {
  padding-right: 10px !important;;
}

.lst-padding--left-10 {
  padding-left: 10px !important;
}

.lst-margin--bottom-2 {
  margin-bottom: 2em !important;
}

.lst-full-height {
  height: 100%;
}


.lst-center-icon {
  position: relative;
  top: 5px;
  margin: 0 $margin / 2;
}

h2 > i.lst-center-icon {
  top: 3px;
}

@media screen and (min-width: 0px) and (max-width: $xs-screen) {
  .lst-hide-xs {
    display: none;
  }
}

.lst-hide {
  display: none;
}

.lst-href-no-style{
  text-decoration: none;
  color: inherit;

  &:visited, &:hover, &:active {
    text-decoration: none;
    color: inherit;
  }
}

.lst-paragraph {
  padding: 10px 0;
}

.lst-color-ok {
    color: $green;
}

.lst-color-warning {
    color: $yellow;
}

.lst-color-error {
    color: $red;
}

.lst-white-on-red {
    background-color: $red;
    color: $white-perl;
    padding: 4px;
}

.lst-overflow-visible {
    overflow: visible !important;
}

