@import '../../../../../../style/variables/colors.scss';

.ancillary-dashboard-rtp-info-summary-title {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $white;
}
.ancillary-dashboard-rtp-info-summary-value-container {
    padding: 3em 3em 0 3em;
}
.ancillary-dashboard-rtp-info-summary-value {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    &.attention {
        color: $bright-red;
    }
    color: $white;
}

.ancillary-dashboard-summary-container {
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-bottom: 1em;
}

.ancillary-dashboard-title > span {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #e6e7ea;
    border-bottom: 2px #0083ff solid;
}
