.lst-input {
    border-radius: 5px;
    height: 21px;
    padding: 5px 10px;
    border: 1px solid $black-light-40;
    color: $black-light-20;

    &:active,
    &:focus {
        outline-width: 0;
        border-color: $blue;
        box-shadow: 0 0 0 2px $blue;
    }
}

.lst-input-full-width {
    width: calc(100% - 22px);
}

.Select-control {
    border-radius: 5px;
    border: 1px solid $black-light-40;
    color: $black-light-20;
}

.Select.is-focused:not(.is-open) > .Select-control {
    border-color: rgba(79, 134, 216, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px $blue;
    background: #fff;
}