.lst-input {
    border-radius: 2px;
    height: 1.2em;
    padding: 5px 10px;
    border: 1px solid $black-light-40;
    color: $black-light-20;

    .dark & {
        background-color: $nord0;
        color: $white-perl;
    }

    &:active,
    &:focus {
        outline-width: 0;
        border-color: $blue;
        box-shadow: 0 0 0 2px $blue;
    }
}

.lst-input-full-width {
    width: calc(100% - 22px);
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: $white;
}
.Select-option.is-focused {
    color: $white;
}
.Select-option:not(.is-focused) {
    color: $white;
}
.Select {
    &-multi-value-wrapper {
        background-color: $black;
    }
    &-value {
        background-color: $black;
    }
    &-control {
        color: #fff;
    }
    background-color: $black;
    &-menu-outer {
        background-color: $black;
    }
    &-menu {
        background-color: $black;
    }
    &-option {
        background-color: $black;
    }
}
    