.lst-panel {

  &:hover {
    .rightToolbar {
      opacity: 1;
    }
  }

  .lst-panel__header {
    display: flex;
    align-items: baseline;
  }

  .lst-panel__header h2{
    font-weight: 400;
  }

  .lst-panel__container {
    padding: $margin;
    border-radius: $border-radius;
    background-color: $white-blank;

    .dark & {
      background-color: $nord3;
    }
  }

  .lst-panel--no-padding {
    padding: 0;

    &.lst-panel--full-height {
        height: 100%;
    }
  }

  .lst-panel--padding {
    padding: $margin;

    &.lst-panel--full-height {
      height: calc(100% - #{(1.5 * $margin)});
    }
  }

  .lst-panel--no-border {
    border: 0;
  }

  .lst-panel--border {
    border: 1px solid $grey;

    .dark & {
      border: 1px solid $nord1;
    }
  }

  .background-on-white {
    color: $white;
    background-color: inherit;
  }

  .rightToolbar {
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}

.fit-to-div {
  font-size: 1vw;
}
