.lst-table-header {
    color: $white-perl;
    font-weight: 500;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
    background: inherit;
}

.ReactTable .-pagination .-btn {
    color: #fff;
}

.lst-table-actions {
    display: flex;
    margin-bottom: 8px;
    text-align: center;
    background-color: $nord1;
}