version: '3'

services:
    reverseproxy:
        container_name: listv2-reverseproxy
        hostname: reverseproxy
        image: nginx:1.22.0
        network_mode: host
        ports:
            - 8000:8000
        volumes:
            - ./data/config:/etc/nginx
            - ./data/log/nginx:/var/log/nginx/
