@import '../../../../style/variables/colors.scss';
.lst-btn {
    padding: 0.45em 0.7em 0.4em;
    margin: 0.5em;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, transform 0.3s ease;
    outline: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;

    &.lst-btn--danger {
        border: 1px solid $bright-red;

        &.lst-btn--outline {
            background: none;
            color: $bright-red;
        }
    }

    &.lst-btn--danger:hover {
        background-color: $bright-red;
        color: $white;
    }

    &.lst-btn--info {
        border: 1px solid $vibrant-blue;
        &.lst-btn--outline {
            background: none;
            color: $vibrant-blue;
        }
    }

    &.lst-btn--info:hover {
        background-color: $vibrant-blue;
        color: $white;
    }
}

.button-icon {
    padding-right: 0.4em;
    width: 1.5em;
    display: flex;
    align-items: baseline;
}

.button-label {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: $white;
}
