@import '../../../../style/variables/colors.scss';

.sidebar-helper-index-type {
    display: flex;

    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $font-dark-blue;

    & > span:first-child {
        padding-right: 0.25em;
    }
}

.sidebar-helper-index-type-active {
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: ease-in-out 1s;
    color: $font-light-blue;

    & > span:first-child {
        padding-right: 0.15em;
    }
}

.sidebar-helper-protocol {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: baseline;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: $font-dark-grey;
}

.sidebar-stream-list-red-dot{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    background-color: #ff5b44;
    margin-left: 1em;
}

.sidebar-helper-protocol-active {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    transition: ease-in-out 0.5s;
    display: flex;
    align-items: baseline;
    color: $white;
}

div.sidebar-helper-container {
    padding-top: 5.7em;
    padding-bottom: 5.7em;
    width: 70%;
}

.sidebar-helper-information {
    &:last-child {
        padding-bottom: 0;
    }
    cursor: pointer;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    &:hover {
        .sidebar-helper-protocol {
            font-family: Prompt;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            display: flex;
            align-items: baseline;
            line-height: 18px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            transition: ease-in-out 0.5s;

            color: $font-light-grey-hover;
        }

        .sidebar-helper-index-type {
            font-family: Prompt;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: ease-in-out 0.5s;

            color: $font-dark-grey;
        }
    }
}

.sidebar-helper-information-active {
    &:last-child {
        padding-bottom: 0;
    }
    cursor: pointer;
    padding-bottom: 1em;
    padding-right: 2em;
    border-right: 2px solid $vibrant-blue;
    display: flex;
    flex-direction: column;
}

.sidebar-helper-title {
    padding-bottom: 1.4em;
    display: flex;
    align-items: center;
    cursor: pointer;
    & > span {
        padding-left: 0.5em;

        font-family: Prompt;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;

        color: $font-light-grey;
    }
}
